.vs
*.dll

*.pdb

*.cache

*.exe

TSST2/Client/obj/
TSST2/Client/bin/
TSST2/CableCloud/obj/
TSST2/CableCloud/bin/
TSST2/NCC/obj/
TSST2/NCC/bin/
TSST2/NetworkManagement/obj/
TSST2/NetworkManagement/bin/
TSST2/Node/obj/
TSST2/Node/bin/